@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Painel de Controle";
}

<!-- Intro Banner -->
<div class="welcome_banner ">
    <div class="content clearfix">
        <h3>Painel de Controle</h3>
    </div>
</div>
<!-- End Intro Banner -->
